/* News Component Styles */
.news-container {
  width: 100%;
  background-color: #90d0d8;
  border: 1px solid #0d0e0d;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-heading {
  background-color: #5a5c5e;
  color: rgb(241, 240, 245);
  padding: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news {
  height: 200px; /* Fixed height */
  overflow-y: auto;
  padding: 10px;
}

.news ul {
  list-style-type: none; /* No bullet points */
  padding-left: 0; /* No space for bullet points */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news ul li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .news-heading {
    font-size: 20px;
  }
  
  .news ul li {
    font-size: 14px;
  }
}
